@{
    ViewData["Title"] = "Home Page";

}
<link href="@Url.Content("~/css/sb-admin-2.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/site.min.css")" rel="stylesheet" />

<div class="card1 container-fluid bg-dark ">
    <br><br>
    <div class="row ">
        <div class="col-lg-3 col-sm-12 ">
            <div class="card">

                <img src="@Url.Content("~/img/login-bg.png" )">
                <div class="card-body">
                    <h2>Orders</h2>

                </div>

                <input type="submit" value="View" class="btn btn-success" />
            </div>
            <br />



        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="card">
                <img src="@Url.Content("~/img/login-bg.png" )">
                <div class="card-body">
                    <h2>Categories </h2>

                </div>
                <input type="submit" value="View" class="btn btn-success" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="card">
                <img src="@Url.Content("~/img/login-bg.png" )">
                <div class="card-body">
                    <h2>Products</h2>

                </div>
                <input type="submit" value="View" class="btn btn-success" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="card">
                <img src="@Url.Content("~/img/login-bg.png" )">
                <div class="card-body">
                    <h2>Brands</h2>

                </div>
                <input type="submit" value="View" class="btn btn-success" />
            </div>
        </div>
    </div>
    <br><br>
</div>
<br />
<div class="card1 container-fluid bg-dark ">
    <br><br>
    <div class="row ">
        <div class="col-lg-3 col-sm-12 text-white">
            <h3>Our Work</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate reprehenderit quae officiis, molestias iusto inventore,
                ad omnis quisquam blanditiis similique quidem nisi asperiores velit cum! Labore aspernatur quidem quisquam inventore.
            </p>

        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="card">
                <img src="@Url.Content("~/img/login-bg.png" )">
                <div class="card-body">
                    <h3>Orders</h3>

                </div>
                <input type="submit" value="View" class="btn btn-success" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="card">
                <img src="@Url.Content("~/img/login-bg.png" )">
                <div class="card-body">
                    <h3>Accunt Settings</h3>

                </div>
                <input type="submit" value="View" class="btn btn-success" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="card">
                <img src="@Url.Content("~/img/login-bg.png" )">
                <div class="card-body">
                    <h3>User Profile</h3>

                </div>
                <input type="submit" value="View" class="btn btn-success" />
            </div>
        </div>
    </div>
    <br><br>
</div>


