@* 

@{
    ViewData["Title"] = "Index";
}


<div>
    
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name (Arabic)</th>
                <th>Name (English)</th>
                <th>Parent Category ID</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
                <tr>
                    <td>@item.id</td>
                    <td>@item.nameAr</td>
                    <td>@item.nameEn</td>
                    <td>@item.ParentCategoryId</td>
                   
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "text-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create">Create New</a>
</div>
 *@