@model IEnumerable<E_Commerce.MVC.DTOs.OrderDto.getOrdersWithoutItems>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_ar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_en)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_ar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_en)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
           
        </tr>
}
    </tbody>
</table>
