@model E_Commerce.MVC.DTOs.productDto.GetProductDto
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<link href="@Url.Content("~/css/sb-admin-2.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/site.min.css")" rel="stylesheet" />

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"> Product Details </h1>
    <a asp-action="ProductsList" class="d-none d-sm-inline-block btn btn-sm bg-success  shadow text-white ">
        Back List Product
    </a>
</div>
<div>
    
    <hr />
    <dl class="row">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descriptionAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriptionAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.colorAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.colorAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.colorEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.colorEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descriptionEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriptionEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brandId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brandId)
        </dd>
    </dl>
</div>

